/*
 * custom.css
 * ~~~~~~~~~~
 *
 * Custom css for Dynamic Surroundings documentation.
*/

span.underlined {
    text-decoration: underline;
}

span.sectiontitle {
	font-weight: bold;
	color: #3c3c3c;
}

span.question {
	font-weight: bold;
	color: #8B4513;
}

div.toctree-wrapper {
	column-count: 3;
}

/* Fix text wrapping in a table */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}